#
**/not-to-be-checked-in
**/rest_api_demo
**/logs
**/Lib
**/lib
**/__pycache__
**/Scripts
**/Include
logs/
*.exe
*.lib
*.dll
*.pyd
*.bat
*.c
*.pyc
**/.pytest_cache
pyvenv.cfg
pip-selfcheck.json
~*.docx
~*.doc
~*.tmp
config.json
*.egg-info/
**/venv
**/instance
.coverage
htmlcov/
**/dist
**/build
